services:
  database:
    image: postgres:latest
    env_file:
      - ./backend/.env
    volumes:
      - pgdata:/var/lib/postgresql
      - ./dataBase.sql:/docker-entrypoint-initdb.d/dataBase.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 1s
      timeout: 2s
      retries: 5
    ports:
      - "5432:5432"

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    depends_on:
      database:
        condition: service_healthy
    env_file:
      - ./backend/.env
    ports:
      - "3000:3000"

  frontend:
    build: frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_HOST=0.0.0.0
      - VITE_API_PROXY=http://backend:3000
    depends_on:
      - backend

volumes:
  pgdata:
